*,
*::before,
*::after {
  box-sizing: border-box;
}

%no-spacing {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  min-height: 100vh;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd,
input, button {
  @extend %no-spacing;
}

ul, ol {
  list-style: none;
  @extend %no-spacing;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button,
textarea, select {
  font: inherit;
}

button {
  border: none;
  background-color: inherit;
}
